.jumbotron {
  background-image: url(https://image.shutterstock.com/image-vector/abstract-technology-binary-code-backgrounddigital-260nw-674184880.jpg);
  text-align: center;
}

.btn {
  background-color: black;
  color: cyan;
}

.btn:hover {
  color: red;
}

h1 {
  color: aliceblue;
  font-family: sans-serif;
}

#html {
  display: none;
}

#css {
  display: none;
}

#js {
  display: none;
}
