.jumbotron {
  background-image: url(https://image.shutterstock.com/image-vector/abstract-technology-binary-code-backgrounddigital-260nw-674184880.jpg);
  text-align: center;
}

body {
  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.btn {
  background-color: red;
  color: rgb(0, 0, 0);
  border-radius: 40px;
  margin-top: 15px;
  margin-left: 475px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: 1px 1px skyblue;
}

.btn:hover {
  color: rgb(255, 230, 0);
}

h1 {
  color: aliceblue;
  font-family: sans-serif;
}

#html {
  display: none;
}

#css {
  display: none;
}

#js {
  display: none;
}

.info {
  text-align: center;
  font-size: 20px;
  background-color: rgb(233, 98, 98);
  border: 5px solid rgb(255, 0, 0) ;
  border-radius: 25px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 50px;
  color: crimson;
  background-color: yellowgreen;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 15px;
  border-radius: 10px;
}

option {
  text-align: center;
}

p {
  text-align: center;
  font-size: 30px;
  color: antiquewhite;
}

label {
  font-weight: bold;
}

.column1 {
  float: left;
  width: 50%;
  border: 5px solid rgba(255, 255, 255, 0.356);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(172, 172, 172);
  border-radius: 40px;
}

.column2 {
  float: right;
  width: 50%;
  border: 5px solid rgba(255, 255, 255, 0.356);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(172, 172, 172);
  border-radius: 40px;
}

.column3 {
  float: center;
  border: 5px solid rgba(255, 255, 255, 0.356);
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: url(https://images.unsplash.com/photo-1610311911648-24d33745eb39?ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8dHJpcHB5fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
  border-radius: 40px;
}

.form-control {
  background-image: url(https://images.unsplash.com/photo-1580508244245-c446ca981a6b?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzV8fHRyaXBweXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.click {
  background-color: royalblue;
  color: black;
}