.jumbotron {
  background-image: url(https://image.shutterstock.com/image-vector/abstract-technology-binary-code-backgrounddigital-260nw-674184880.jpg);
  text-align: center;
}

body {
  background-image: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjl8fGJhY2tncm91bmR8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60);
}

.btn {
  background-color: red;
  color: cyan;
}

.btn:hover {
  color: rgb(17, 0, 255);
}

h1 {
  color: aliceblue;
  font-family: sans-serif;
}

#html {
  display: none;
}

#css {
  display: none;
}

#js {
  display: none;
}

.info {
  text-align: center;
  font-size: 30px;
  background-color: rgb(233, 98, 98);
  border: 5px solid rgb(255, 0, 0) ;
  border-radius: 25px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 50px;
  color: crimson;
}

option {
  text-align: center;
}

p {
  text-align: center;
  font-size: 30px;
  color: antiquewhite;
}

label {
  font-weight: bold;
}

.column1 {
  float: left;
  width: 50%;
  border: 3px solid white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: violet;
}

.column2 {
  float: right;
  width: 50%;
  border: 3px solid white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: yellow;
}

.column3 {
  float: center;
  border: 3px solid white;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: turquoise;
}